html {
  scroll-behavior: smooth;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/************** SECCIÓN DE FUENTES *************************/
@font-face{
  src: url(../tipografias/ChunkFive-Regular.otf);
  font-family: 'titulo1';
}
@font-face{
  src: url(../tipografias/EathomaSansFont.ttf);
  font-family: 'tipografia1';
}
@font-face{
  src: url(../tipografias/Yantramanav-Medium.ttf);
  font-family: 'tipografia2';
}
/************** BARRA DE NAVEGACIÓN ************************/
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: rgb(255, 254, 254);
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
}
/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #1b1b1b;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: tipografia1;
}
#navbar #logo:hover {
  background-color: rgba(0, 0, 255, 0);
}
#navbar a:hover {
  background-color: #1b1b1b28;
}
/* Poner los elementos a la derecha */
#navbar-right {
  float: right;
}

/***************************** LAYOUT BÁSICO ****************/
body {
  background-color: #1b1b1b;
}
/************** SECTION INTRODUCCION *************/
#introduction {
  width: 100%;
  height: 80vh;
  background-image: url(../imagenes/fondo1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.introduccion-texto p {
  display: inline-block;
  font-family: tipografia1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(253, 253, 253);
  font-size: 90px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.712);
  padding: 1%;
}

/************ SECTION  BREVE INTRODUCCIÓN *************/
#introduction-text {
  width: 100%;
  height: 350px;
  background-color: rgb(243, 243, 243);
  text-align: center;
}
.introimpresoras img {
  width: 30px;
}
.introimpresoras p {
  font-family: titulo1;
  display: block;
  font-size: 30px;
  margin: 0%;
  padding: 7%;
  background-color: ;
}

/************ SECTION TIPOS IMPRESORAS *************/
#tiposTitulo {  
  width: 100%;
  height: 70px;
  display: block;
}
#tiposTitulo p {
  text-align: center;
  margin: 2%;
  font-family: tipografia1;
  font-size: 40px;
  color: rgb(236, 236, 236);
}
#tiposImpresoras {
  width: 100%;
  height: auto;
  margin: 1% 0%;
}
.grid1col {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
.col1 {
  padding: 12px;
  margin: 40px 55px 50px 55px;
  background-color: #FCCB1A;
  transition: 1s;
  transition-delay: 1s;
  border-radius: 6%;
  height: auto;
}
.col1:hover {
  box-shadow: 2px 2px 2px white;
  transition: 0.6s;
  transition-delay: 0.1s ;
}
.col1 p {
  font-size: 20px;
  font-family: tipografia1;
  text-align: center;
  position: relative;
  margin: 14px;
}
.col1 img {
  width: 100%;
  border-radius: 4%;
}

/************ SECTION FUNCIONAMIENTO *************/
#funcionamientoTitulo {
  width: 100%;
  height: auto;
  background-color: white;
}
#funcionamientoTitulo p {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  font-family: tipografia1;
  display: block;

}
#funcionamiento {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
}
.funcionamientoTitulo {
  width: 100%;
  background-color: #1b1b1b;
}
.grid2col {
  display: grid;
  grid-template-columns: 50% 50% ;
}
.col2 {
  margin: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  border: 2px solid black;
}
.col2 p {
  font-family: tipografia2;
}
.col2 img {
  width: auto;
  overflow: hidden;
  margin-top: 20px;
}
#col2-texto1 {
  padding-left: 200px;
  padding-top: 100px;
}
#funcionamientoCol3 {
  width: 100%;
  background-color: yellow;
}
/************ SECTION MARCAS *************/
#marcas {
  background-color: white;
}
#linea {
  background-color: white;
}
.lineaNegra {
  border: 2px solid white;
  margin: 10px;
}
#marcasTitulo p {
  font-family: tipografia1;
  text-align: center;
  font-size: 50px;
  background-color: white;
}
.tituloMarcas {
  font-family: tipografia2;
}
.grid3col {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.col3 {
  margin: 0px 20px;
  border-right: 3px solid black;
  text-align: center;
}
.col3dos {
  border-right: 3px solid black;
  text-align: center;
}
.espacio {
  padding-top: 40px;
  background-color: white;
}
.anycubic {
  width: 200px; 
  margin-left: 20px;
}
.creality {
  width: 160px; 
  margin: 20px 0px;
}
.prusa {
  width: 100px; 
  margin: 40px 0px;
}
.artillery {
  width: 140px; 
  margin-right: 20px;
}
/************ SECTION FOOTER  *************/
#footer {
  background-color: rgb(21, 49, 85);
}
#footer img {
  width: 50px;
  margin-right: 30px;
}
.grid4col {
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid4col p {
  text-align: ;
  margin-bottom: 20px;
  font-family: tipografia2;
  font-size: 20px;
  color: white;
}
.col4 {
  margin: 20px 300px;
}
.col4Info {
  margin: 20px 50px;
}
/************* RESPONSIVIDAD **************/
@media screen and (max-width: 900px){
  #tiposTitulo {
    height: 190px;
  }
  .grid1col {
    grid-template-columns: auto;
  }
  .col1 {
    margin: 10px 90px;
  }
  .grid2col {
    grid-template-columns: 100%;
  }
  .grid2col img {
    width: 400px;
  }
  .grid3col {
    grid-template-columns: 50% 50%;
    
  }
  .col3dos {
    border: none;
  }
  .col3ultima {
    margin-left: -4px;
  }
  .grid4col {
    grid-template-columns: 100%;
  }
  .col4 {
    padding-left: 50px;
  }
  .col4Info {
    margin-left: 130px;
  }
  #logo {
    margin-left: -50px;
    float: left;
  }
}
@media screen and (max-width: 1600px){
  .col1 {
    margin: 40px 40px;
  }
  #col2-texto1 {
    padding: 20px;
  }
  .col2 img {
    width: 370px;
  }
  .col4 {
    margin: 20px 200px;
  }
}
@media screen and (max-width: 1200px){
  #introduction-text {
    height: 330px;
  }
  .introimpresoras {
    padding: 2%;
  }
  .introduccion-texto p {
    font-size: 50px;
  }
  .gridcol2 {
    grid-template-columns: 45% 55%;
  }
  .gridcol2 img {
  }
  #videoSLA {
    width: 400px;
  }
  .col4 {
    margin: 20px 100px;
  }
}
@media screen and (max-width: 900px){
  .introduccion-texto p {
    font-size: 40px;
  }
  #tiposTitulo p {
    font-size: 33px;
    padding-top: 40px;
  }
  #funcionamientoTitulo p {
    font-size: 30px;
  }
  #funcionamiento img {
    width: 300px;
  }
  #videoSLA {
    width: auto;
  }
  .anycubic {
    width: 140px; 
    margin-left: 20px;
  }
  .creality {
    width: 120px; 
    margin: 20px 0px;
  }
  .prusa {
    width: 100px; 
    margin: 40px 0px;
  }
  .artillery {
    width: 140px; 
    margin-right: 20px;
  }
}
@media screen and (max-width: 660px){
  .introduccion-texto p {
    font-size: 35px;
  }
  #tiposTitulo p {
    font-size: 25px;
    padding-top: 40px;
  }
  #funcionamientoTitulo p {
    font-size: 25px;
  }
  #funcionamiento img {
    width: 280px;
  }
  #videoSLA {
    width: auto;
  }
  .anycubic {
    width: 120px; 
    margin-left: 20px;
  }
  .creality {
    width: 100px; 
    margin: 20px 0px;
  }
  .prusa {
    width: 80px; 
    margin: 40px 0px;
  }
  .artillery {
    width: 120px; 
    margin-right: 20px;
  }
}
